$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: #101010;
$color-lblack: #353535;
$color-white: #FFF;
$color-grey: #EAEAEA;
$color-lgrey: #f6f6f6;
$color-llgrey: #fbfbfb;
$color-dgrey: #959595;
$card-numbrs: 4;

$base-font-size: 14px;
